html {
margin:0 ;
padding: 0;
font-family: 'source_sans_proextralight'; 
}

@font-face {
    font-family: 'source_sans_proextralight';
    src: url('../fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'source_sans_proextralight';
}


h1{
    font-family: 'source_sans_proextralight' ;
    text-align: center;
    margin-top: 40%;
    margin-bottom: 40%;
}

.h1cat{
    margin-top: 20px;
}

#header{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 10px 20px;
}
.logo{
    border-radius: 50px;
}
.search_bar{
    border-radius: 100px;
    width: 250px;
    height: 30px;
}

.loupe{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

p{
    font-size: large;
}

.present{
    margin-top: 10%;
    text-align: center;
}

.insco{
    border-radius:100px;
}

.insco{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  }


  insco.hover{
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
  }

  insco.active{
    position:relative;
	top:1px;
  }

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#carouselExampleFade {
    margin: auto !important;
    width: 50% !important;
    position:relative;
    
}


footer{
    font-family: 'source_sans_proextralight' !important;
    background-color: white ;

    flex-direction:row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 11% !important;
}

.reseaux{
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}


.res1{
    height: 50px;
    width: 50px;
    border: solid rgba(0, 0, 0, 0.031) 1px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 5px;
    
}


.res2{
    height: 50px;
    width: 50px;
    border: solid rgba(0, 0, 0, 0) 1px;
    border-radius: 15px;
    margin-right: 10px;
}


.res3{
    height: 50px;
    width: 50px;
    border: solid rgba(0, 0, 0, 0) 1px;
    border-radius: 15px;
    margin-right: 10px;
}

